<div class="panel panel-default">
  <div class="panel-heading">About Me</div>
  <div class="panel-body">
    <div class="profile-photo"></div>
    <p>
      I am a software engineer primarily working on full stack web development with Ruby on Rails.
      I have experience in multiple front and back end frameworks including Rails, Chef, Angular, Express and React.
    </p>
    <p>
      I enjoy learning to use new technologies all the time and improving my skills with several different languages.
      I am enthusiastic and hard working with a passion for software and technology.
    </p>
  </div>
</div>
