<div id='social-links' class="pull-right">
  <a title="GitHub" href="https://github.com/tpbowden">
    <i class="fa fa-github-square fa-fw fa-2x"></i>
  </a>
  <a title="Twitter" href="https://twitter.com/tpbowden">
    <i class="fa fa-twitter-square fa-fw fa-2x"></i>
  </a>
  <a title="LinkedIn" href="https://uk.linkedin.com/pub/tom-bowden/44/528/381">
    <i class="fa fa-linkedin-square fa-fw fa-2x"></i>
  </a>
  <a title="Stack Overflow" href="https://stackoverflow.com/users/1337204/tpbowden">
    <i class="fa fa-stack-overflow fa-fw fa-2x"></i>
  </a>
</div>

<p>Tom Bowden</p>
<p><a href="mailto:tom@tpbowden.co.uk">tom@tpbowden.co.uk</a></p>
